.archive-card {
    aspect-ratio: 1 / 1.35;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    width: 23%;
    will-change: transform;
    transition: transform 500ms;
    /* background-color: #000; */
}

.archive-card:hover,
.archive-card:focus {
    transform: scale(1.04);
    /* 动画时间 */
    transition: 0.3s;
}

.archive-card.empty {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("data:image/svg+xml,%3Csvg width='' height='' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M874.67 469.33H554.67V149.33c0-23.47-19.2-42.67-42.67-42.67s-42.67 19.2-42.67 42.666666v320H149.33c-23.47 0-42.67 19.2-42.67 42.67s19.2 42.67 42.67 42.666667h320v320c0 23.47 19.2 42.67 42.67 42.67s42.67-19.2 42.67-42.67V554.666667h320c23.47 0 42.67-19.2 42.67-42.67s-19.2-42.67-42.67-42.67z' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
    border-width: 3px;
    border-style: dotted;
}

.archive-card.empty:hover,
.archive-card.empty:focus {
    background-color: rgba(0, 0, 0, 0.25);
}

.archive-card.empty:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.archive-card .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
