.base-plate {
    position: relative;
    background: linear-gradient(45deg, #7d361a, #9d461a);
    border: 10px solid #472213;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 20px;
    padding: 15mm 18mm 15mm 15mm;
    margin: auto;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

.base-plate::before {
    content: "";
    position: absolute;
    top: -15mm;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 308 / 184;
    width: 75mm;
    background-image: url("/images/clip.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

.a4-paper {
    position: relative;
    aspect-ratio: 1 / 1.414;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 25.4mm 31.8mm;
}
