body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fffedf;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ====for header==== */
.navbar {
    background-color: #fffedf;
    height: 72px;
}

.navbar .navbar-brand img {
    width: 60px;
    height: 60px;
    /* 圆角 */
    border-radius: 50%;
}

.navbar .nav-item {
    font-size: 1.1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: #5c6f8a;
}

.navbar .nav-link {
    color: #000;
    text-decoration: underline;
}

.navbar .nav-link:hover {
    color: #555;
}

/* ----skip to main content button---- */

.skip-to-main-content {
    position: absolute;
    top: -80px;
    left: 20px;
    height: 80px;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    z-index: 100;

    /* 文本垂直居中 */
    display: flex;
    align-items: center;

    /* y轴动画效果 */
    transition: transform 500ms;
    will-change: transform;
}

.skip-to-main-content:focus {
    top: 0;
    transform: translateY(40px);
}

/* ====for main==== */
main {
    margin-top: 102px;
    padding-bottom: 100px;
}

/* ====for footer==== */
footer a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    width: fit-content;
    /* margin-left: auto; */
    margin-right: auto;
}

footer a:hover {
    text-decoration: none;
    color: #666;
}

footer img {
    position: absolute;
    top: 30px;
    right: 30px;
}
